.me {
    border-style: solid;
    padding: 20px;
    margin: 20px;
    background-color: darkgrey;
    color: darkred;
}

.background {
    border-style: solid;
    padding: 20px;
    margin: 20px;
    background-color: darkgrey;
    color: darkred;
}